.link {
	/* 2 Block model */
	display: inline-block;

	/* 3 Typography */
	text-decoration: none;
	color: $color-text;
}
.link--brend {
	/* 3 Typography */
	color: $color-brend;
}
.link--white {
	/* 3 Typography */
	color: #ffffff;
}
.link--black {
	/* 3 Typography */
	color: $color-text;
}
.link:hover {
	/* 4 Visual */
	opacity: 0.7;
}
.link--udline {
	/* 3 Typography */
	text-decoration: underline;
}
.link--udline:hover {
	/* 3 Typography */
	text-decoration: none;
}
