/*
 * Grid
 *
 */

/*
 * Fonts
 *
 */

//  https://fonts.google.com/

$font-main: Arial, sans-serif;
$font-second: Arial, sans-serif;

/*
 * Color
 *
 */

$color-white: #ffffff;
$color-black: #000000;

$color-brend: #252942;
$color-secondary: #ffdd2d;

$color-text: $color-brend;
$color-link: #3f54d9;

$color-bg: #eeeeee;

$color-border: #eeeeee;
