mixin footer(data)
	table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;")
		tr
			td.h1(align="center")
				a.link(href="mailto:cost@indep.pro") cost@indep.pro
		tr
			+td-margin({margin: 'mr-purpur'})
		tr
			td.h1(align="center")
				a.link(href="tel:+74951182213") +7&nbsp;495&nbsp;118&nbsp;22&nbsp;13
		tr
			+td-margin({margin: 'mr-purpur'})
		tr
			td.text-link(align="center")
				a.link.link--udline(href="#") отписаться